.cell {
	border: 1px solid grey;
	height: 30px;
	width: 30px;
	float: left;
	background-color: #DEDEDE;
	text-align: center;
	font-family: Impact;	
}
.row {
	clear: left;
	width: 300px;
	margin-left: auto;
	margin-right: auto;	
}
#grid {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
#header {
	width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#instructions {
	width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: Courier New;
	font-size: 14px;
	padding-bottom: 10px;
}
#header h2 {
	font-family: Verdana;
	font-size: 18px;
}